branches:
  - main
debug: false
repositoryUrl: 
  - "https://github.com/Prathmesh-Copods/simple-project-setup.git"
ci: true
dryRun: false
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"